<h1>New Exercise</h1>
<hr/>
<form (ngSubmit)="onSubmit()" #workoutExerciseForm="ngForm">
{{diagnostic}}
<br>
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.name" name="name">
    </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Sets</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.sets" name="sets">
    </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Reps</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.reps" name="reps">
    </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput 
    [(ngModel)]="model.description" name="description">
    </textarea>
  </mat-form-field>


<button type="submit" class="btn btn-success" [disabled]="!workoutExerciseForm.form.valid">Submit</button>
</form>