<h1>New Exercise</h1>
<hr/>
<form (ngSubmit)="onSubmit()" #workoutExerciseForm="ngForm">
{{diagnostic}}
<br>
<div class="container">
<div class ="column">
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.name" name="name">
    </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Sets</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.sets" name="sets">
    </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Reps</mat-label>
        <input matInput 
        required
        [(ngModel)]="model.reps" name="reps">
    </mat-form-field>
  <br>

  </div>
  <div class ="columnDescr">
  <mat-form-field appearance="fill" id="textarea">
    <mat-label>Description</mat-label>
    <textarea matInput matTextareaAutosize matAutosizeMinRows=10 matAutosizeMaxRows=15
    [(ngModel)]="model.description" name="description">
    </textarea>
  </mat-form-field>
  </div>
<div class ="column">
<button mat-raised-button type="submit" [disabled]="!workoutExerciseForm.form.valid">Submit</button>
</div>
</div>
</form>